/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
/* line 23, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 36, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 60, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 72, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 86, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 97, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 108, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 117, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 129, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 138, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 152, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 161, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
/* line 197, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 236, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 245, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 252, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
sup {
  top: -0.5em; }

/* line 256, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 311, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 322, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 333, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 341, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
/* line 351, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 363, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/* line 391, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 405, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 417, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
/* line 434, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 447, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 456, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 466, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
/* line 477, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 493, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
/* line 503, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 517, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 525, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 538, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 551, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 560, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 571, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 577, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/normalize-scss/normalize */
td, th {
  padding: 0; }

/* line 1, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/extends/button */
button, input[type="submit"], .standard {
  -webkit-font-smoothing: antialiased;
  background-color: #FAEAAA;
  border-radius: 0.1875em;
  color: #171719;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  /* line 13, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/extends/button */
  button:hover, input[type="submit"]:hover, .standard:hover {
    background-color: #D75909;
    color: white; }

/* line 1, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
body {
  -webkit-font-smoothing: antialiased;
  background-color: #171719;
  color: #171719;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5; }

/* line 10, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

/* line 17, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
h1 {
  font-size: 2.25em; }

/* line 21, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
h2 {
  font-size: 2em; }

/* line 25, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
h3 {
  font-size: 1.75em; }

/* line 29, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
h4 {
  font-size: 1.5em; }

/* line 33, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
h5 {
  font-size: 1.25em; }

/* line 37, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
h6 {
  font-size: 1em; }

/* line 41, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
p {
  margin: 0 0 0.75em; }

/* line 45, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #D75909;
  text-decoration: none; }
  /* line 50, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
  a:hover {
    color: #8e3b06; }
  /* line 54, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
  a:active, a:focus {
    color: #8e3b06;
    outline: none; }

/* line 60, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
hr {
  border-bottom: 1px solid #171719;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 68, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
img {
  margin: 0; }

/* line 72, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
blockquote {
  border-left: 2px solid #171719;
  color: #3c3c41;
  margin: 1.5em 0;
  padding-left: 0.75em; }

/* line 79, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
cite {
  color: #54545b;
  font-style: italic; }
  /* line 83, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/typography */
  cite:before {
    content: '\2014 \00A0'; }

/* line 1, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/forms */
fieldset {
  background: #2f2f34;
  border: 1px solid #171719;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

/* line 10, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/forms */
input, label, select {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 1em; }

/* line 16, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/forms */
label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  /* line 20, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/forms */
  label.required:after {
    content: "*"; }
  /* line 24, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/forms */
  label abbr {
    display: none; }

/* line 29, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/forms */
textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #171719;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  /* line 42, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/forms */
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: black; }
  /* line 46, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/forms */
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #D75909;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(191, 79, 8, 0.7);
    outline: none; }

/* line 53, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/forms */
textarea {
  resize: vertical; }

/* line 57, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/forms */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 61, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/forms */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 66, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/forms */
input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

/* line 72, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/forms */
select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

/* line 1, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/tables */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/tables */
th {
  border-bottom: 1px solid black;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

/* line 15, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/tables */
td {
  border-bottom: 1px solid #171719;
  padding: 0.75em 0; }

/* line 20, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/tables */
tr, td, th {
  vertical-align: middle; }

/* line 1, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/lists */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* line 19, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/lists */
dl {
  margin-bottom: 0.75em; }
  /* line 22, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/lists */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 27, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/lists */
  dl dd {
    margin: 0; }

/* line 2, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/buttons */
button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* line 12, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/base/buttons */
.standard {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* line 2, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/neat/app/assets/stylesheets/grid/grid */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Dragdealer.js 0.9.7
 * http://github.com/skidding/dragdealer
 *
 * (c) 2010+ Ovidiu Cherecheș
 * http://skidding.mit-license.org
 */
/* line 9, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/skidding--dragdealer/src/dragdealer */
.dragdealer {
  position: relative;
  height: 30px;
  background: #EEE; }

/* line 14, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/skidding--dragdealer/src/dragdealer */
.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer; }

/* line 20, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/skidding--dragdealer/src/dragdealer */
.dragdealer .red-bar {
  width: 100px;
  height: 30px;
  background: #CC0000;
  color: #FFF;
  font-size: 14px;
  line-height: 30px;
  text-align: center; }

/* line 29, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/skidding--dragdealer/src/dragdealer */
.dragdealer .disabled {
  background: #898989; }

/* line 5, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
html, body, .js .container, .js .dragslider, .js .img-dragger .handle {
  height: 100%; }

/* line 10, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
html.js, .js body {
  overflow: hidden;
  position: relative; }

/* Switch button */
/* line 16, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
button.slider-switch {
  font-size: 0;
  width: 60px;
  height: 60px;
  padding: 0;
  margin-left: 4px;
  color: transparent;
  position: relative;
  border: none;
  background: url(../img/switch_button.svg) no-repeat center center;
  background-size: 75%;
  float: right;
  overflow: hidden;
  outline: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: auto; }

/* line 39, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
button.slider-switch:hover {
  opacity: 1; }

/* line 43, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
button.content-switch {
  outline: none;
  width: 160px;
  background: #FAEAAA;
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
  color: #171719;
  border: 1px solid #FAEAAA;
  position: absolute;
  cursor: pointer;
  top: 100%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -200%, 0);
  transform: translate3d(-50%, -200%, 0);
  padding: 1em 2em;
  font-size: 0.65em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  z-index: 1000;
  opacity: 0.9;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.3s, color 0.3s, border-color 0.3s;
  transition: transform 0.6s cubic-bezier(0.7, 0, 0.3, 1), opacity 0.3s, color 0.3s, border-color 0.3s; }

/* line 70, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
button.content-switch:hover {
  opacity: 1; }

/* line 74, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
button.content-switch::before {
  content: 'SAVOIR PLUS';
  speak: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  text-indent: 0;
  font-size: 1.5em;
  line-height: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 88, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
header {
  position: fixed;
  z-index: 1000;
  margin: 0 auto;
  width: 80%;
  left: 10%;
  top: 3.5em;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  /* line 99, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  header h1 {
    margin: 0;
    color: #FAEAAA;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.3;
    padding: 1.5em;
    letter-spacing: 1px;
    float: left; }
  /* line 110, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  header .message {
    display: none;
    clear: both;
    color: #D75909; }

/* line 117, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
article {
  overflow: auto; }
  /* line 119, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  article h1 {
    display: block;
    margin: 0;
    padding: 80px 0;
    z-index: -1; }
  /* line 125, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  article h2 {
    padding-bottom: 5em; }

@media screen and (min-width: 53.75em) {
  /* line 132, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  .col-1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%; }
    /* line 38, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/neat/app/assets/stylesheets/grid/span-columns */
    .col-1:last-child {
      margin-right: 0; }

  /* line 132, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  .col-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    /* line 38, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/neat/app/assets/stylesheets/grid/span-columns */
    .col-2:last-child {
      margin-right: 0; }

  /* line 132, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  .col-3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    /* line 38, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/neat/app/assets/stylesheets/grid/span-columns */
    .col-3:last-child {
      margin-right: 0; }

  /* line 132, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  .col-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    /* line 38, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/neat/app/assets/stylesheets/grid/span-columns */
    .col-4:last-child {
      margin-right: 0; }

  /* line 132, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  .col-5 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    /* line 38, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/neat/app/assets/stylesheets/grid/span-columns */
    .col-5:last-child {
      margin-right: 0; }

  /* line 132, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  .col-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    /* line 38, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/neat/app/assets/stylesheets/grid/span-columns */
    .col-6:last-child {
      margin-right: 0; }

  /* line 132, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  .col-7 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    /* line 38, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/neat/app/assets/stylesheets/grid/span-columns */
    .col-7:last-child {
      margin-right: 0; }

  /* line 132, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  .col-8 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    /* line 38, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/neat/app/assets/stylesheets/grid/span-columns */
    .col-8:last-child {
      margin-right: 0; }

  /* line 132, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  .col-9 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    /* line 38, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/neat/app/assets/stylesheets/grid/span-columns */
    .col-9:last-child {
      margin-right: 0; }

  /* line 132, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  .col-10 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%; }
    /* line 38, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/neat/app/assets/stylesheets/grid/span-columns */
    .col-10:last-child {
      margin-right: 0; }

  /* line 132, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  .col-11 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%; }
    /* line 38, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/neat/app/assets/stylesheets/grid/span-columns */
    .col-11:last-child {
      margin-right: 0; }

  /* line 132, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/html */
  .col-12 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    /* line 38, /Users/MJO/Nitrous/piment-box/projects/piment-web/bower_components/neat/app/assets/stylesheets/grid/span-columns */
    .col-12:last-child {
      margin-right: 0; }
 }

/* line 2, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/js */
.js .dragslider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.6s cubic-bezier(0.7, 0, 0.3, 1); }
/* line 12, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/js */
.js .img-dragger {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0); }
  /* line 21, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/js */
  .js .img-dragger .handle {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    white-space: nowrap;
    font-size: 0; }
/* line 29, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/js */
.js .img-dragger-large {
  width: 100%;
  height: 100%; }
  /* line 34, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/js */
  .js .img-dragger-large .slide h2 {
    width: 80%;
    left: 12%;
    top: 50%;
    text-align: left;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); }
/* line 47, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/js */
.js .img-dragger-small .slide h2 {
  font-size: 2.5em;
  padding-top: 1em;
  top: 100%;
  width: 100%;
  text-align: left;
  color: #FAEAAA;
  -webkit-animation: slideUpFade 0.4s 0.1s; }
/* line 60, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/js */
.js .slide h2 {
  color: #FAEAAA;
  position: absolute;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
/* line 68, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/js */
.js .pages {
  position: absolute;
  top: 100%;
  height: 0;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: height 0s 0.6s;
  transition: height 0s 0.6s; }
  /* line 78, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/js */
  .js .pages .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    -webkit-transition: height 0s 0.6s;
    transition: height 0s 0.6s; }
    /* line 88, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/js */
    .js .pages .content div, .js .pages .content h2, .js .pages .content ul {
      -webkit-transform: translate3d(0, 200px, 0);
      transform: translate3d(0, 200px, 0);
      -webkit-transition-property: opacity;
      transition-property: opacity;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
/* line 102, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/js */
.js .show-content .pages {
  -webkit-transition: none;
  transition: none;
  height: 100%; }

/* line 2, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.dragslider h2 {
  font-size: 5em;
  font-weight: 300;
  margin: 0 auto;
  line-height: 1.2;
  position: relative; }
  /* line 9, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
  .dragslider h2 span {
    display: block;
    font-size: 40%;
    font-weight: 300;
    padding-top: 1.5em;
    width: 80%; }
  /* line 16, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
  .dragslider h2 small {
    font-size: 50%;
    clear: both;
    float: left; }
  /* line 21, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
  .dragslider h2 a {
    font-size: 80%;
    margin: 0.5em 0.3em; }
/* line 27, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.dragslider.show-content {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0); }

/* line 35, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.slide h2 i {
  font-style: normal;
  font-weight: 300; }
/* line 42, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.slide:first-child button.content-switch {
  width: 220px; }
/* line 45, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.slide:first-child button.content-switch::before {
  content: 'VOIR NOS SERVICES'; }

/* line 51, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.img-dragger {
  position: relative;
  z-index: 100; }
  /* line 55, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
  .img-dragger .slide {
    display: inline-block;
    position: relative;
    height: 100%;
    background: #171719;
    font-size: 16px;
    white-space: normal;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: top; }
    /* line 72, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
    .img-dragger .slide:active {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing; }

/* line 82, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.img-dragger-small .slide h2 span {
  font-size: 0.35em; }
/* line 88, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.img-dragger-small .slide.current h2 {
  opacity: 1;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transition: color 0.3s, opacity 0.3s;
  transition: color 0.3s, opacity 0.3s; }
/* line 99, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.img-dragger-small button.content-switch {
  opacity: 0;
  pointer-events: none; }

/* line 105, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.img-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  /* line 111, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
  .img-wrap img, .img-wrap video {
    position: absolute;
    display: block;
    height: calc(100% + 0.2px);
    opacity: 0.15; }

/* line 121, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.show-content .current button.content-switch {
  border-color: #171719;
  background: transparent;
  color: #171719;
  -webkit-transform: translate3d(-50%, 100%, 0);
  transform: translate3d(-50%, 100%, 0); }
  /* line 128, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
  .show-content .current button.content-switch:before {
    content: 'ACCUEIL'; }

/* line 136, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.pages {
  background: white; }
  /* line 138, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
  .pages .content {
    text-align: left;
    color: #171719;
    font-size: 1.2em; }
    /* line 143, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
    .pages .content .intro-text {
      margin-bottom: 5em;
      margin-top: 4em;
      text-align: center; }
      /* line 148, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
      .pages .content .intro-text h2 {
        font-family: 'Georgia';
        font-weight: 800;
        margin-bottom: 0.3em; }
        @media screen and (min-width: 53.75em) {
          .pages .content .intro-text h2 {
            font-size: 3em;
            margin-bottom: 0.4em; } }
      /* line 157, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
      .pages .content .intro-text h3 {
        background: #D75909;
        color: white;
        display: inline-block;
        font-size: 0.7em;
        font-weight: 800;
        margin-bottom: 2em;
        padding: 3px 8px;
        text-transform: uppercase; }
        @media screen and (min-width: 53.75em) {
          .pages .content .intro-text h3 {
            margin-bottom: 3.3em; } }
      /* line 170, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
      .pages .content .intro-text h4 {
        color: #48484e;
        font-size: 1.3em;
        font-weight: 300;
        line-height: 1.4em;
        margin: 0 auto 1em; }
        @media screen and (min-width: 53.75em) {
          .pages .content .intro-text h4 {
            font-size: 1.7em;
            line-height: 1.35em;
            margin: 0 auto 1em;
            width: 60%; } }
      /* line 183, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
      .pages .content .intro-text p {
        margin: auto; }
        @media screen and (min-width: 53.75em) {
          .pages .content .intro-text p {
            width: 60%; } }
        /* line 188, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
        .pages .content .intro-text p a {
          font-size: 0.8em;
          font-weight: 400;
          text-transform: uppercase; }
          /* line 192, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
          .pages .content .intro-text p a span {
            font-size: 1.3em;
            line-height: 0; }
    /* line 199, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
    .pages .content.show {
      height: auto;
      -webkit-transition: none;
      transition: none; }
      /* line 203, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
      .pages .content.show div, .pages .content.show h2, .pages .content.show ul {
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-property: -webkit-transform, opacity;
        transition-property: transform, opacity;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
      /* line 211, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
      .pages .content.show div {
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s; }
      /* line 215, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
      .pages .content.show ul {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s; }

/* Switch */
/* line 225, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.switch-min .img-dragger-large .slide > *:not(.img-wrap), .switch-max .img-dragger-small .slide > *:not(.img-wrap) {
  /* fade out everything except image */
  opacity: 0;
  -webkit-transition: none;
  transition: none; }

/* line 232, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.switch-min .img-dragger-large, .switch-max .img-dragger-small {
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.6s cubic-bezier(0.7, 0, 0.3, 1); }

/* Helper classes */
/* line 238, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.no-transition {
  -webkit-transition: none !important;
  transition: none !important; }

/* line 243, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
.hide {
  opacity: 0 !important;
  pointer-events: none !important; }

/* Basic Media query stuff */
@media screen and (min-aspect-ratio: 1280/850) {
  /* line 250, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
  .img-dragger .img-wrap img {
    width: calc(100% + 0.2px);
    height: auto; }
 }

@-webkit-keyframes slideUpFade {
  /* line 257, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0); }

  /* line 261, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0); } }

@media screen and (max-width: 63.125em) {
  /* line 268, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
  .dragslider h2 {
    font-size: 4em; }

  /* line 271, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
  .pages .content {
    font-size: 100%; }
    /* line 273, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
    .pages .content h2 {
      font-size: 1em;
      left: 0% !important;
      margin-top: 6em; }
    /* line 278, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
    .pages .content span {
      font-size: 1em; }
 }

@media screen and (max-width: 650px) {
  /* line 285, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
  header {
    top: 0; }

  /* line 288, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
  .dragslider h2 {
    font-size: 2em;
    left: 8% !important; }
    /* line 291, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
    .dragslider h2 span {
      width: 100%; }
    /* line 297, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
    .dragslider h2 a {
      width: 100%;
      text-align: center; }

  /* line 302, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/home */
  button.slider-switch {
    display: none; }
 }

/* line 3, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/nojs */
.no-js .dragslider h2 {
  padding: 15px; }
/* line 8, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/nojs */
.no-js button.slider-switch {
  display: none; }
/* line 12, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/nojs */
.no-js button.content-switch {
  display: none; }
/* line 17, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/nojs */
.no-js .img-dragger, .no-js .img-dragger .handle {
  height: auto;
  position: relative;
  text-align: center;
  font-size: 0;
  clear: both;
  white-space: nowrap;
  overflow: auto; }
/* line 28, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/nojs */
.no-js .img-dragger .handle {
  padding: 40px 0 0; }
/* line 32, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/nojs */
.no-js .img-dragger .slide {
  width: 300px;
  font-size: 7px;
  min-height: 200px; }
/* line 41, /Users/MJO/Nitrous/piment-box/projects/piment-web/_scss/nojs */
.no-js .pages .content h2 {
  padding-top: 1em; }

/*# sourceMappingURL=main.css.map */