---
layout: default
title: piment.digital | Une Vitrine sur le web
---

<div class="container">
    <header id="header">
        <h1>PIMENT.DIGITAL</h1>
        <span class="message">This mobile version does not have the slideshow switch</span>
        <button class="slider-switch">Switch view</button>
    </header>

    <!-- Image Dragging section -->
    <div id="slideshow" class="dragslider">
        <section class="img-dragger img-dragger-large dragdealer">
            <div class="handle">
                <div class="slide" data-content="content-1">
                    <div class="img-wrap">
                        <img src="img/b3.jpg" />
                        <!--<video autoplay loop>
                  <source src="http://mazwai.com/system/posts/videos/000/000/054/original/danny_lund_the_ranch_studios--rooftop_summer_dinner.mp4" type='video/mp4' />
                </video>-->
                    </div>
                    <h2 class="logo">Ouvrez votre Vitrine à Internet
                    <span class="away">Nous vous accompagnons et vous aidons à établir votre image sur le Web. D'une simple presense sur les reseaux sociaux, à la mise on place d'un site web complex. Contactez nos conseillers afin de définir votre besoin précis.</span>
                    <span>
                        <a class="standard" href="mailto:info@piment.digital">Email</a>
                        <a class="standard" href="http://twitter.com/pimentdigital" target="_blank">Twitter</a>   
                        <a class="standard" href="tel:0952227633">Tel*: 09 52 22 76 33</a>
                        <small>*Prix d'une communication locale</small>                 
                    </span>

                    </h2>
                    <button class="content-switch" style="visibility:hidden;">Plus d'info</button>
                </div>
                <!--<div class="slide" data-content="content-2">
                    <div class="img-wrap"></div>
                    <h2>Example<span>Plus d'info</span></h2>
                    <button class="content-switch" style="display:none;">Plus d'info</button>
                </div>
                <div class="slide" data-content="content-3">
                  <div class="img-wrap"><img src="img/3.jpg" alt="img3"/></div>
                  <h2>Pack 2<span>Plus d'info</span></h2>
                  <button class="content-switch">Plus des details</button>
                </div>
				<div class="slide" data-content="content-4">
					<div class="img-wrap"><img src="img/3.jpg" alt="img3"/></div>
					<h2>Pack 3<span>Plus d'info</span></h2>
					<button class="content-switch">Plus des details</button>
				</div>
				<div class="slide" data-content="content-5">
					<div class="img-wrap"><img src="img/4.jpg" alt="img4"/></div>
					<h2>Options<span>Plus d'info</span></h2>
					<button class="content-switch">Plus des details</button>
				</div>
				<div class="slide" data-content="content-6">
					<div class="img-wrap"><img src="img/5.jpg" alt="img5"/></div>
					<h2>Contact<span>Plus d'info</span></h2>
					<button class="content-switch">Plus des details</button>
				</div>-->
            </div>
        </section>
        <!-- /img-dragger-->


        <!-- Content section -->
        <section class="pages">
            <!-- //NOTE: 1: Intro/Hero-page -->
            <div class="content" data-content="content-1">
                <!--<div class="intro-text">
                    <h3>Quelque chose pour tous les besoins</h3>
                    <h2>Nos Packages</h2>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta rerum libero iste saepe.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur consectetur adipisicing elit. Perferendis para mitis eun non ullam atque debitis, illo adipisicing elit. Perferendis para mitis eun non ullam atque debitis, illo. Amet, consectetur adipisicing. <a href="">Read more <span>&#187;</span></a>
                    </p>
                </div>-->


                <!--
                <h2>Nos Packages <span>Quelque chose pour tous les besoins</span></h2>

                <ul class="wide">
                    <li class="vertical left four box">
                        <span>Good Enough</span>
                        <button>Savoir plus</button>
                        <br/>
                        <br/>Newsletter
                        <br/>Nom de Domaine
                        <br/>Adresse(s) mail
                        <br/>3 Réseaux Sociaux
                        <br/>
                    </li>
                    <li class="vertical left four box">
                        <span>I'm Getting Good</span>
                        <button>Savoir plus</button>
                        <br/>
                        <br/>3 page; Site Internet
                        <br/>1 Grands sites référencement
                        <br/>Newsletter
                        <br/>Nom de Domaine
                        <br/>Adresse(s) mail
                        <br/>3 Réseaux Sociaux
                        <br/>

                    </li>
                    <li class="vertical left four box">
                        <span>Hell yeh!</span>
                        <button>Savoir plus</button>
                        <br/>
                        <br/>10 page; Site Internet
                        <br/>2 Grands sites référencement
                        <br/>SEO (Search Engine Optimization)
                        <br/>Newsletter
                        <br/>Nom de Domaine
                        <br/>Adresse(s) mail
                        <br/>3 Réseaux Sociaux
                        <br/>

                    </li>
                    <li class="vertical left four box">
                        <span>Make Me Rich</span>
                        <button>Savoir plus</button>
                        <br/>
                        <br/>20 page; Site Internet
                        <br/>Accès complet à Squarespace et Stripe
                        <br/>3 Grands sites référencement
                        <br/>SEO (Search Engine Optimization)
                        <br/>Newsletter
                        <br/>Nom de Domaine
                        <br/>Adresse(s) mail
                        <br/>4 Réseaux Sociaux
                        <br/>
                    </li>
                </ul>

                <div class="pack1">
                    <span>Good Enough<i>Pack 1</i> </span>
                    <p>
                        Commencez du bon pied! Faites pixéliser votre activité grâce à nos services!
                        <br/>La newsletter est un excellent vecteur qui vous permettra d’envoyer des nouvelles à votre clientèle de manière simple et directe. Vous devenez propriétaire d’un nom sur le web! Ainsi votre adresse e-mail confortera votre crédibilité vis-à-vis de vos clients et de vos fournisseurs.
                        <br/>Idéal pour établir votre visibilité sur les réseaux sociaux, vous aurez avec ce pack les clés pour fidéliser vos clients et partager votre actualité.</p>
                    <ul>
                        <li class="left">
                            <p><b>NEWSLETTER</b>
                                <br/>Restez en contact avec votre clientèle en la tenant informée des dernières nouvelles par e-mail</p>
                            <p><b>NOM DE DOMAINE</b>
                                <br/>Nom de domaine personalisé .fr, .com, .eu, etc.</p>
                        </li>
                        <li class="right">
                            <p><b>ADRESSE(S) MAIL</b>
                                <br/>Jusqu’à 10 adresses de type : votrenom@votredomaine.fr
                                <br/>Intégration à votre messagerie actuelle</p>
                            <p><b>VISIBILITÉ SUR 3 RÉSEAUX SOCIAUX</b>
                                <br/>Facebook, Twitter, Instagram
                                <br/>Formation à l’utilisation, centralisation de vos posts</p>
                        </li>
                        <li class="left box light small">
                            <p>Prix de démarrage
                                <br/><span>€400</span>
                            </p>
                            <p>Prix par an
                                <br/><span>€0</span>
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="pack2">
                    <span>I'm Getting Good<i>Pack 2</i> </span>
                    <p>
                        Un site! Nos designers seront à votre écoute pour créer un site web simple, qui reprend les principales informations que vous souhaitez partager. Votre site aiguillera les visiteurs vers vos réseaux sociaux. Nous vous référençons sur un des sites : Yelp, Trip Advisor ou Petit Futé, suivant votre choix. Cela vous apportera une visibilité locale renforcée.
                    </p>
                    <ul>
                        <li class="left">
                            <p class="new"><b>SITE INTERNET</b>
                                <br/>Modèle simple: jusqu’à 3 pages, hébergement gratuit</p>
                            <p><span class="circle orange">1</span>Recontre avec le designer pour affiner la construction du site</p>
                            <p><span class="circle orange">1</span>Formation sur les produits à la livraison finale</p>
                            <p class="new"><b>REFÉ́RENCEMENT SUR L’UN DES GRANDS SITES</b>
                                <br/>Yelp, Trip Advisor ou Petit Futé</p>
                            <p><b>NEWSLETTER</b>
                                <br/>Restez en contact avec votre clientèle en la tenant informée des dernières nouvelles par e-mail</p>
                            <br/>
                        </li>
                        <li class="right">
                            <p><b>NOM DE DOMAINE</b>
                                <br/>Nom de domaine personalisé .fr, .com, .eu, etc.</p>
                            <p><b>ADRESSE(S) MAIL</b>
                                <br/>Jusqu’à 10 adresses de type : votrenom@votredomaine.fr
                                <br/>Intégration à votre messagerie actuelle</p>
                            <p><b>VISIBILITÉ SUR 3 RÉSEAUX SOCIAUX</b>
                                <br/>Facebook, Twitter, Instagram
                                <br/>Formation à l’utilisation, centralisation de vos posts</p>

                        </li>
                        <li class="left box orange small">
                            <p>Prix de démarrage
                                <br/><span>€1000</span>
                            </p>
                            <p>Prix par an
                                <br/><span>€7</span>
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="pack3">
                    <span>Hell Yeh<i>Pack 3</i> </span>
                    <p>
                        Un site? mais quel site! C’est jusqu’à 10 pages que vous mettrez en place avec nos designers. La visibilité sur les moteurs de recherche est maintenant renforcée grâce à des algorithmes et à un référencement sur Google map. Nous vous référençons sur deux des sites : Yelp, Trip Advisor ou Petit Futé, suivant votre choix. Cela dynamisera votre visibilité locale.
                    </p>
                    <ul>
                        <li class="left">
                            <p class="new"><b>SITE INTERNET</b>
                                <br/>Modèle simple: jusqu’à 10 pages, hébergement gratuit</p>
                            <p><span class="circle red">2</span>Recontre avec le designer pour affiner la construction du site</p>
                            <p><span class="circle red">1</span>Formation sur les produits à la livraison finale</p>
                            <p class="new"><b>REFÉ́RENCEMENT SUR L’UN DES GRANDS SITES</b>
                                <br/>Yelp, Trip Advisor ou Petit Futé</p>
                            <p class="new"><b>SEO (Search Engine Optimization)</b>
                                <br/>Visibilité renforcée sur les moteurs de recherché</p>

                        </li>
                        <li class="right">
                            <p><b>NEWSLETTER</b>
                                <br/>Restez en contact avec votre clientèle en la tenant informée des dernières nouvelles par e-mail</p>
                            <p><b>NOM DE DOMAINE</b>
                                <br/>Nom de domaine personalisé .fr, .com, .eu, etc.</p>
                            <p><b>ADRESSE(S) MAIL</b>
                                <br/>Jusqu’à 10 adresses de type : votrenom@votredomaine.fr
                                <br/>Intégration à votre messagerie actuelle</p>
                            <p><b>VISIBILITÉ SUR 3 RÉSEAUX SOCIAUX</b>
                                <br/>Facebook, Twitter, Instagram
                                <br/>Formation à l’utilisation, centralisation de vos posts</p>
                        </li>
                        <li class="left box red small">
                            <p>Prix de démarrage
                                <br/><span>€1500</span>
                            </p>
                            <p>Prix par an
                                <br/><span>€36</span>
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="pack4">
                    <span>Make Me Rich<i>Pack 4</i> </span>
                    <p>
                        Parlons peu, parlons bien : SquareSpace est la Rolls-Royce du design à la portée de tous! Vous aurez ainsi un outil simple et performant pour mettre à jour vos contenus vous-même. de plus, vous vous lancez dans le e-Commerce grace à la plateforme de paiement en ligne sécurisée. Nous vous plaçons sur tous les sites de réseaux sociaux et de référencement.
                    </p>
                    <ul>
                        <li class="left">
                            <p class="new"><b>SITE INTERNET</b>
                                <br/>Site e-commerce: jusqu’à 10 pages et compatible mobile</p>
                            <p><span class="circle green">2</span>Recontre avec le designer pour affiner la construction du site</p>
                            <p><span class="circle green">+</span>Formation à l'utilisation de SquareSpace</p>
                            <p class="new"><b>REFÉ́RENCEMENT SUR L’UN DES GRANDS SITES</b>
                                <br/>Yelp, Trip Advisor ou Petit Futé</p>
                            <p class="new"><b>VISIBILITÉ SUR 4 RÉSEAUX SOCIAUX</b>
                                <br/>Facebook, Twitter, Instagram et Google+
                                <br/>Formation à l’utilisation, centralisation de vos posts</p>
                            <p><b>SEO (Search Engine Optimization)</b>
                                <br/>Visibilité renforcée sur les moteurs de recherché</p>
                        </li>
                        <li class="right">
                            <p><b>NEWSLETTER</b>
                                <br/>Restez en contact avec votre clientèle en la tenant informée des dernières nouvelles par e-mail</p>
                            <p><b>NOM DE DOMAINE</b>
                                <br/>Nom de domaine personalisé .fr, .com, .eu, etc.</p>
                            <p><b>ADRESSE(S) MAIL</b>
                                <br/>Jusqu’à 10 adresses de type : votrenom@votredomaine.fr
                                <br/>Intégration à votre messagerie actuelle</p>
                            <p><span class="circle green">1</span>Formation sur les produits à la livraison finale</p>
                            <p><span class="circle green">+</span>Assistance téléphonique 1 mois sur les solutions mises en place</p>
                        </li>
                        <li class="left box green small">
                            <p>Prix de démarrage
                                <br/><span>€2000</span>
                            </p>
                            <p>Prix par an
                                <br/><span>€101</span>
                            </p>
                        </li>
                    </ul>
                </div>


                <h2>Qui sommes nous? <span>Vos nouveaux spécialistes digital</span></h2>
                <div class="about">
                    <p>Piment digital a vu le jour en 2014. Le projet est né d’une envie de renouer avec le service de proximité dans la ville, d’aller à la rencontre des gens et de comprendre leurs besoins, tout en les aidant à dévelloper leur projets, sans se cacher derrière un beau site internet où tout est automatisé.</p>
                    <span>Derrière ce projet, il y a deux hommes:</span>
                    <br/>
                    <ul>
                        <li class="left">
                            <p>
                                <img class="profile" src="https://dl.dropboxusercontent.com/u/3707479/macportr.PNG" /><span>Mac Oosthuizen</span>
                                <br/>
                                <br/>Mac est designer et entrepreneur. Né en Afrique du Sud, il a grandi en Angleterre. Il a étudié le design industriel à Newcastle et le design interactif à Copenhague. Il vit depuis 4 ans à Paris.
                            </p>
                        </li>
                        <li class="right">
                            <p>
                                <img class="profile" src="https://dl.dropboxusercontent.com/u/3707479/antportr.jpg" /><span>Antoine Kienlen</span>
                                <br/>
                                <br/>Antoine est photographe et technicien informatique. Depuis 5 ans, en parallèle de ses projets photographiques, Antoine assure un support technique auprès de grands patrons.
                            </p>
                        </li>
                    </ul>
                </div>
-->
            </div>




            <div class="content" data-content="content-2">
                <h2>Coming soon <span>subtitle</span></h2>
                {% for post in site.categories.fllt limit:10 reversed %}
                <p>{{ post.content }}</p>
                {% endfor %}
            </div>
            <!--<div class="content" data-content="content-3">
						<h2>Pack 2 <span>subtitle</span></h2>
            {% for post in site.categories.ajoto limit:10 reversed %}
              <p>{{ post.content }}</p>
            {% endfor %}
					</div>
					<div class="content" data-content="content-4">
						<h2>Pack 3 <span>subtitle</span></h2>
						{% for post in site.categories.urbbi limit:10 reversed %}
              <p>{{ post.content }}</p>
            {% endfor %}
					</div>
					<div class="content" data-content="content-5">
						<h2>Options <span>subtitle</span></h2>
						{% for post in site.categories.cph limit:10 reversed %}
              <p>{{ post.content }}</p>
            {% endfor %}
					</div>
          <div class="content" data-content="content-6">
            <h2>Contact <span>subtitle</span></h2>
            {% for post in site.categories.cph limit:10 reversed %}
              <p>{{ post.content }}</p>
            {% endfor %}
          </div>-->
        </section>
    </div>
</div>
<!-- /container -->
</body>

{% include scripts.html %}
{% include googleanalytics.html %}
