---
layout: default
title: piment.digital | Sous titre
---

<div class="container">
      <header id="header">
				<h1>PIMENT.DIGITAL</h1>
				<span class="message">This mobile version does not have the slideshow switch</span>
				<button class="slider-switch">Switch view</button>
			</header>

      <!-- Image Dragging section -->
			<div id="slideshow" class="dragslider">
				<section class="img-dragger img-dragger-large dragdealer">
					<div class="handle">
						<div class="slide" data-content="content-1">
							<div class="img-wrap">
                <img src="https://unsplash.imgix.net/43/2EsHHwmRswlLYnaG07Ew_paris-motionbug.com.jpg?q=75&fm=jpg&s=e30b40043b3e61bc489c2aa327e96ad0" />
                <!--<video autoplay loop>
                  <source src="http://mazwai.com/system/posts/videos/000/000/054/original/danny_lund_the_ranch_studios--rooftop_summer_dinner.mp4" type='video/mp4' />
                </video>-->
              </div>
							<h2 class="logo">Votre Business,<br/>sur le Web,<br/>près de chez vous</h2>
							<button class="content-switch">Plus d'info</button>
						</div>
						<div class="slide" data-content="content-2">
							<div class="img-wrap"></div>
							<h2>Example<span>Plus d'info</span></h2>
							<button class="content-switch" style="display:none;">Plus d'info</button>
						</div>
            <!--<div class="slide" data-content="content-3">
              <div class="img-wrap"><img src="img/3.jpg" alt="img3"/></div>
              <h2>Pack 2<span>Plus d'info</span></h2>
              <button class="content-switch">Plus des details</button>
            </div>
						<div class="slide" data-content="content-4">
							<div class="img-wrap"><img src="img/3.jpg" alt="img3"/></div>
							<h2>Pack 3<span>Plus d'info</span></h2>
							<button class="content-switch">Plus des details</button>
						</div>
						<div class="slide" data-content="content-5">
							<div class="img-wrap"><img src="img/4.jpg" alt="img4"/></div>
							<h2>Options<span>Plus d'info</span></h2>
							<button class="content-switch">Plus des details</button>
						</div>
						<div class="slide" data-content="content-6">
							<div class="img-wrap"><img src="img/5.jpg" alt="img5"/></div>
							<h2>Contact<span>Plus d'info</span></h2>
							<button class="content-switch">Plus des details</button>
						</div>-->
					</div>
				</section><!-- /img-dragger-->


				<!-- Content section -->
				<section class="pages">
					<div class="content" data-content="content-1">
            <h2>Nos Packages <span>Quelque chose pour tous les besoins</span></h2>
            <ul>
              <li class="vertical four">pack 1</li>
              <li class="vertical four">pack 2</li>
              <li class="vertical four">pack 3</li>
              <li class="vertical four">pack 4</li>
            </ul>

            <div class="pack1">
              <span>Good Enough<i>Pack 1</i> </span>
              <p>
                Commencez du bon pied! Faites pixéliser votre activité grâce à nos services!<br/>
La newsletter est un excellent vecteur qui vous permettra d’envoyer des nouvelles à votre clientèle de manière simple et directe. Vous devenez propriétaire d’un nom sur le web! Ainsi votre adresse e-mail confortera votre crédibilité vis-à-vis de vos clients et de vos fournisseurs.<br/>
Idéal pour établir votre visibilité sur les réseaux sociaux, vous aurez avec ce pack les clés pour fidéliser vos clients et partager votre actualité.</p>
              <ul>
                <li>NEWSLETTER<br/>Restez en contact avec votre clientèle en la tenant informée des dernières nouvelles par e-mail</li>
                <li>NOM DE DOMAINE<br/>Nom de domaine personalisé .fr, .com, .eu, etc.</li>
                <li>ADRESSE(S) MAIL<br/>Jusqu’à 10 adresses de type : votrenom@votredomaine.fr<br/>Intégration à votre messagerie actuelle</li>
                <li>VISIBILITÉ SUR 3 RÉSEAUX SOCIAUX<br/>Facebook, Twitter, Instagram<br/>Formation à l’utilisation, centralisation de vos posts</li>
              </ul>
            </div>

            <div class="pack2">
              <span>I'm Getting Good<i>Pack 2</i> </span>
              <p>
              Un site! Nos designers seront à votre écoute pour créer un site web simple, qui reprend les principales informations que vous souhaitez partager. Votre site aiguillera les visiteurs vers vos réseaux sociaux.
Nous vous référençons sur un des sites : Yelp, Trip Advisor ou Petit Futé, suivant votre choix. Cela vous apportera une visibilité locale renforcée.
              </p>
              <ul>
                <li class="new">SITE INTERNET<br/>Modèle simple: jusqu’à 3 pages, hébergement gratuit</li>
                <li class="new">ReFéRENCEMENT SUR L’UN DES GRANDS SITES<br/>Yelp, Trip Advisor ou Petit Futé</li>
                <li>NEWSLETTER<br/>Restez en contact avec votre clientèle en la tenant informée des dernières nouvelles par e-mail</li>
                <li>NOM DE DOMAINE<br/>Nom de domaine personalisé .fr, .com, .eu, etc.</li>
                <li>ADRESSE(S) MAIL<br/>Jusqu’à 10 adresses de type : votrenom@votredomaine.fr<br/>Intégration à votre messagerie actuelle</li>
                <li>VISIBILITÉ SUR 3 RÉSEAUX SOCIAUX<br/>Facebook, Twitter, Instagram<br/>Formation à l’utilisation, centralisation de vos posts</li>

              </ul>
            </div>

            <div class="pack3">
              <span>Hell Yeh<i>Pack 3</i> </span>
              <p>
              Un site? mais quel site! C’est jusqu’à 10 pages que vous mettrez en place avec nos designers. La visibilité sur les moteurs de recherche est maintenant renforcée grâce à des algorithmes et à un référencement sur Google map.
Nous vous référençons sur deux des sites : Yelp, Trip Advisor ou Petit Futé, suivant votre choix. Cela dynamisera votre visibilité locale.
              </p>
              <ul>
                <li class="new">SITE INTERNET<br/>Modèle simple: jusqu’à 10 pages, hébergement gratuit<br/>Accès complet à la solution Squarespace, avec la plateforme de paiement Stripe (e-commerce)</li>
                <li class="new">ReFéRENCEMENT SUR L’UN DES GRANDS SITES<br/>Yelp, Trip Advisor ou Petit Futé</li>
                <li class="new">SEO (Search Engine Optimization)<br/>Visibilité renforcée sur les moteurs de recherché</li>
                <li>NEWSLETTER<br/>Restez en contact avec votre clientèle en la tenant informée des dernières nouvelles par e-mail</li>
                <li>NOM DE DOMAINE<br/>Nom de domaine personalisé .fr, .com, .eu, etc.</li>
                <li>ADRESSE(S) MAIL<br/>Jusqu’à 10 adresses de type : votrenom@votredomaine.fr<br/>Intégration à votre messagerie actuelle</li>
                <li>VISIBILITÉ SUR 3 RÉSEAUX SOCIAUX<br/>Facebook, Twitter, Instagram<br/>Formation à l’utilisation, centralisation de vos posts</li>
              </ul>
            </div>

            <div class="pack4">
              <span>Make Me Rich<i>Pack 4</i> </span>
              <p>
                Parlons peu, parlons bien : SquareSpace est la Rolls-Royce du design à la portée de tous! Vous aurez ainsi un outil simple et performant pour mettre à jour vos contenus vous-même. de plus, vous vous lancez dans le e-Commerce grace à la plateforme de paiement en ligne sécurisée.
Nous vous plaçons sur tous les sites de réseaux sociaux et de référencement.
              </p>
              <ul>
                <li class="new">SITE INTERNET<br/>Site e-commerce: Pas de limitation de pages et compatible mobile</li>
                <li class="new">ReFéRENCEMENT SUR L’UN DES GRANDS SITES<br/>Yelp, Trip Advisor ou Petit Futé</li>
                <li>NEWSLETTER<br/>Restez en contact avec votre clientèle en la tenant informée des dernières nouvelles par e-mail</li>
                <li>NOM DE DOMAINE<br/>Nom de domaine personalisé .fr, .com, .eu, etc.</li>
                <li>ADRESSE(S) MAIL<br/>Jusqu’à 10 adresses de type : votrenom@votredomaine.fr<br/>Intégration à votre messagerie actuelle</li>
                <li class="new">VISIBILITÉ SUR 4 RÉSEAUX SOCIAUX<br/>Facebook, Twitter, Instagram et Google+<br/>Formation à l’utilisation, centralisation de vos posts</li>
              </ul>
            </div>

            <h2>Qui sommes nous? <span>Vos nouveaux spécialistes digital</span></h2>
            <div class="about">
              <p>Piment digital a vu le jour en 2014. Le projet est né d’une envie de renouer avec le service de proximité dans la ville, d’aller à la rencontre des gens et de comprendre leurs besoins, tout en les aidant à dévelloper leur projets, sans se cacher derrière un beau site internet où tout est automatisé.</p>
              <p>Derrière ce projet, il y a deux hommes : Mac et Antoine.</p>
            </div>
          </div>

					<div class="content" data-content="content-2">
						<h2>Coming soon <span>subtitle</span></h2>
						{% for post in site.categories.fllt limit:10 reversed %}
              <p>{{ post.content }}</p>
            {% endfor %}
					</div>
					<!--<div class="content" data-content="content-3">
						<h2>Pack 2 <span>subtitle</span></h2>
            {% for post in site.categories.ajoto limit:10 reversed %}
              <p>{{ post.content }}</p>
            {% endfor %}
					</div>
					<div class="content" data-content="content-4">
						<h2>Pack 3 <span>subtitle</span></h2>
						{% for post in site.categories.urbbi limit:10 reversed %}
              <p>{{ post.content }}</p>
            {% endfor %}
					</div>
					<div class="content" data-content="content-5">
						<h2>Options <span>subtitle</span></h2>
						{% for post in site.categories.cph limit:10 reversed %}
              <p>{{ post.content }}</p>
            {% endfor %}
					</div>
          <div class="content" data-content="content-6">
            <h2>Contact <span>subtitle</span></h2>
            {% for post in site.categories.cph limit:10 reversed %}
              <p>{{ post.content }}</p>
            {% endfor %}
          </div>-->
				</section>
			</div>
		</div><!-- /container -->
	</body>

{% include scripts.html %}
{% include googleanalytics.html %}
