.dragslider{
  h2{
    font-size: 5em;
    font-weight: 300;
    margin: 0 auto;
    line-height: 1.2;
    position: relative;

    span{
      display: block;
      font-size: 40%;
      font-weight: 300;
      padding-top: 1.5em;
        width: 80%;
    }
      a{
       font-size:80%;
       margin: 0.5em 0.3em;      
      }
  }

  &.show-content{
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
}

.slide{
  h2{
    i{
      font-style: normal;
      font-weight: 300;
    }
  }

  &:first-child{
    button.content-switch{
      width: 220px;
    }
    button.content-switch::before {
      content: 'VOIR NOS SERVICES';
    }
  }
}

.img-dragger {
  position: relative;
  z-index: 100;

  .slide{
    display: inline-block;
    position: relative;
    height: 100%;
    //background: $base-background-color;
    font-size: 16px;
    white-space: normal;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: top;

    &:active {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
    }
  }
}

.img-dragger-small{
  .slide{
    h2{
      span{
        font-size: 0.35em;
      }
    }

    &.current{
      h2{
        //color: #fff;
        opacity: 1;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-transition: color 0.3s, opacity 0.3s;
        transition: color 0.3s, opacity 0.3s;
      }
    }
  }

  button.content-switch {
    opacity: 0;
    pointer-events: none;
  }
}

.img-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  img, video{
    position: absolute;
    display: block;
    height: calc(100% + 0.2px);
    opacity: 0.15;
  }
}

.show-content{
  .current{
    button.content-switch {
      border-color: $dark-gray;
      background: transparent;
      color: $dark-gray;
      -webkit-transform: translate3d(-50%,100%,0);
      transform: translate3d(-50%,100%,0);

      &:before{
        content:'ACCUEIL';
      }
    }
  }
}

//NOTE: CONTENT PAGE
.pages {
    background: white;
    .content {
        text-align: left;
        color: $base-font-color;
        font-size: 1.2em;
        //NOTE: TITLE MIDDLE SUMMARY BLOCK
        .intro-text {
            $intro-text-width: 60%;
            margin-bottom: 5em;
            margin-top: 4em;
            text-align: center;
            h2 {
                font-family: $serif;
                font-weight: 800;
                margin-bottom: .3em;
                @include media($large-screen) {
                    font-size: 3em;
                    margin-bottom: .4em;
                }
            }
            h3 {
                background: $base-accent-color;
                color: white;
                display: inline-block;
                font-size: .7em;
                font-weight: 800;
                margin-bottom: 2em;
                padding: 3px 8px;
                text-transform: uppercase;
                @include media($large-screen) {
                    margin-bottom: 3.3em;
                }
            }
            h4 {
                color: lighten($base-font-color, 20);
                font-size: 1.3em;
                font-weight: 300;
                line-height: 1.4em;
                margin: 0 auto 1em;
                @include media($large-screen) {
                    font-size: 1.7em;
                    line-height: 1.35em;
                    margin: 0 auto 1em;
                    width: $intro-text-width;
                }
            }
            p {
                margin: auto;
                @include media($large-screen) {
                    width: $intro-text-width;
                }
                a {
                    font-size: .8em;
                    font-weight: 400;
                    text-transform: uppercase;
                    span {
                        font-size: 1.3em;
                        line-height: 0;
                    }
                }
            }
        }
        &.show {
            height: auto;
            -webkit-transition: none;
            transition: none;
            div, h2, ul {
                -webkit-transition-duration: 1s;
                transition-duration: 1s;
                -webkit-transition-property: -webkit-transform, opacity;
                transition-property: transform, opacity;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
            div {
                -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s;
            }
            ul {
                -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
            }
        }
    }
}

/* Switch */
.switch-min .img-dragger-large .slide > *:not(.img-wrap),
.switch-max .img-dragger-small .slide > *:not(.img-wrap)  { /* fade out everything except image */
	opacity: 0;
	-webkit-transition: none;
	transition: none;
}

.switch-min .img-dragger-large,
.switch-max .img-dragger-small {
	-webkit-transition: -webkit-transform 0.6s cubic-bezier(.7,0,.3,1);
	transition: transform 0.6s cubic-bezier(.7,0,.3,1);
}

/* Helper classes */
.no-transition {
	-webkit-transition: none !important;
	transition: none !important;
}

.hide {
	opacity: 0 !important;
	pointer-events: none !important;
}

/* Basic Media query stuff */
@media screen and (min-aspect-ratio: 1280/850) {
    .img-dragger .img-wrap  img {
        width: calc(100% + 0.2px);
        height: auto;
    }
}

@-webkit-keyframes slideUpFade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0,20px,0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
  }
}

@media screen and (max-width: 63.125em) {
	.dragslider h2 {
		font-size: 4em;
	}
	.pages .content {
		font-size: 100%;
    h2{
      font-size: 1em;
      left: 0%!important;
      margin-top: 6em;
    }
    span{
      font-size: 1.5em
    }
	}
}

@media screen and (max-width: 650px) {
    header{
    top: 0;
    }
    .dragslider h2 {
        font-size: 3em;
        left: 8%!important;
        span{
            width:100%;
        }
        .away{
          display:none;
        }
        a{
          width:100%;
            text-align: center;
        }
	}
	button.slider-switch {
		display: none;
	}
}
