html,
body,
.js .container,
.js .dragslider,
.js .img-dragger .handle {
  height: 100%;
}

html.js,
.js body {
  overflow: hidden;
  position: relative;
}

/* Switch button */
button.slider-switch {
  font-size: 0;
  width: 60px;
  height: 60px;
  padding: 0;
  margin-left: 4px;
  color: transparent;
  position: relative;
  border: none;
  background: url(../img/switch_button.svg) no-repeat center center;
  background-size: 75%;
  float: right;
  overflow: hidden;
  outline:none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: auto;
}

button.slider-switch.view-maxi {
  //background-image: url(../img/switchmax.svg);
}

button.slider-switch:hover {
  opacity: 1;
}

button.content-switch {
  outline: none;
  width: 160px;
  background:$light-gray;
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
  color: $red;
  border: 1px solid $light-gray;
  position: absolute;
  cursor: pointer;
  top: 100%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-200%,0);
  transform: translate3d(-50%,-200%,0);
  padding: 1em 2em;
  font-size: 0.65em;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  z-index: 1000;
  opacity: 0.9;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(.7,0,.3,1), opacity 0.3s, color 0.3s, border-color 0.3s;
  transition: transform 0.6s cubic-bezier(.7,0,.3,1), opacity 0.3s, color 0.3s, border-color 0.3s;
}

button.content-switch:hover {
  opacity: 1;
}

button.content-switch::before {
  content: 'SAVOIR PLUS';
  speak: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  text-indent: 0;
  font-size: 1.5em;
  line-height: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  position: fixed;
  z-index: 1000;
  margin: 0 auto;
  width: 80%;
  left: 10%;
  top: 3.5em;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;

  h1{
    margin: 0;
    color: $light-gray;
	  font-weight: 700;
	  font-size: 1em;
	  line-height: 1.3;
	  padding: 1.5em;
	  letter-spacing: 1px;
	  float: left;
  }

  .message {
	  display: none;
	  clear: both;
	  color: $red;
  }
}

article{
  overflow: auto;
  h1{
    display: block;
    margin: 0;
    padding: 80px 0;
    z-index: -1;
  }
  h2{
    padding-bottom: 5em;
  }
}

@include media($large-screen){
  @for $i from 1 through 12 {
    .col-#{$i}{
      @include span-columns($i);
    }
  }
}
